.site {
    width: 100%;
    font-size: 1.6em;
}

.box-full {
    width: 100%;
    padding: 45px 0;
    margin: 0 auto;
    display: table;
}

.conteudo {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box;
    display: inherit;
}