body{
    font-size: 62.5%; 	
}

.col-desk-1, .col-desk-2, .col-desk-3, .col-desk-4, .col-desk-5, .col-desk-6, .col-desk-7, .col-desk-8, .col-desk-9, .col-desk-10, .col-desk-11, .col-desk-12,
.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
    float: none;
    width: 100%;
    clear: left;
}

@media (min-width: 481px) {
	/*body{
		background: green;
	}*/
    .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
        float: left;
        clear: none;
    }
    .col-tablet-12 { width: 100%;}
    .col-tablet-11 {width: 91.66666667%;}
    .col-tablet-10 {width: 83.33333333%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-8 {width: 66.66666667%;}
    .col-tablet-7 {width: 58.33333333%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-5 {width: 41.66666667%;}
    .col-tablet-4 {width: 33.33333333%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-2 {width: 16.66666667%;}
    .col-tablet-1 {width: 8.33333333%;}
}

/* SOMENTE DESK 1024 para cima */
@media (min-width: 1024px) {
/*	body{
		background: #f60;
	}*/
    .col-desk-1, .col-desk-2, .col-desk-3, .col-desk-4, .col-desk-5, .col-desk-6, .col-desk-7, .col-desk-8, .col-desk-9, .col-desk-10, .col-desk-11, .col-desk-12 {
        float: left;
        clear: none;
    }
    .col-desk-12 { width: 100%; }
    .col-desk-11 { width: 91.66666667%; }
    .col-desk-10 {width: 83.33333333%; }
    .col-desk-9 {width: 75%;}
    .col-desk-8 {width: 66.66666667%;}
    .col-desk-7 {width: 58.33333333%;}
    .col-desk-6 {width: 50%;}
    .col-desk-5 {width: 41.66666667%;}
    .col-desk-4 {width: 33.33333333%;}
    .col-desk-3 {width: 25%;}
    .col-desk-2 {width: 16.66666667%;}
    .col-desk-1 {width: 8.33333333%;}
    .only-desk { display: inherit; }
}
/* SOMENTE DESK 1024 para cima */






/* medias */
/* SOMENTE MOBILE */
@media (max-width: 480px) { 
 body{        
        font-size: 50%;
    }
}
/* SOMENTE MOBILE */

/* SOMENTE TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
}
/* SOMENTE TABLET */

/* TABLET e MOBILE */
@media (max-width: 1023px) {       
}
/* TABLET e MOBILE */

/* TABLET e DESK */
@media (min-width: 481px) {    
}
/* TABLET e DESK */

/* SOMENTE DESK */
@media (min-width: 1024px) {
}
/* SOMENTE DESK */
/* medias */
