.introduction {
	background: #00acc1;
}
.how-to {
	background: #ffffff;
}

.other-services {
	background: #ffe57f;
}

.app-information {
	background: #00acc1;
}

.contact {
	background: #00838f;
}



