#map {
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  form {
    margin: 0 15px 0 0;
  }

  body .mdl-layout__header {
    background-color: #00acc1;
  }

  body .material-icons {
    line-height: 2;
  }

  body .mdl-layout__header-row {
    padding: 0 40px;
  }

  body .mdl-layout__drawer {
    left: inherit;
    right: 0;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);    
  }

  body .mdl-layout__drawer-button{
    right: 0;
    left: initial;
  }

  .text-search {
    background: #fff url(../images/lupa.png) no-repeat 10px center;
    font-size: 14px;
    color: #999;
    padding: 10px 0 10px 35px;
  }